/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

### Neutral

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800 */


*,
*::before,
*::after{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  font: inherit;
}
img{
  display: block;
  max-width: 100%;
}
:root{

  --fs-h1: 3.5rem;
  --fs-h2: 1.65rem;
  --fs-h3: 1.25rem;
  --fs-p: 0.9375rem;
  /* p */
  --fw-regular: 400;
  /* h2 or h3 with styles of h2 */
  --fw-semibold: 700;
  /* h1 */
  --fw-bold: 800;

  --g-sm: 0.5rem;
  --g-md: 1rem;
  --g-lg: 1.5rem;
  --g-xl: 2.5rem;

  --clr-primary-1: hsl(35, 77%, 62%);
  --clr-primary-2: hsl(5, 85%, 63%);
  --clr-neutral-400: hsl(36, 100%, 99%);
  --clr-neutral-300: hsl(233, 8%, 79%);
  --clr-neutral-200: hsl(236, 13%, 42%);
  --clr-neutral-100: hsl(240, 100%, 5%);

  --fc-p-1: var(--clr-neutral-200);
  --fc-p-2: hsla(233, 8%, 79%, 0.9);
  --fc-btn: var(--clr-neutral-400);
  --fc-heading-accent: var(--clr-primary-1);
  --fc-heading-100: var(--clr-neutral-100);
  --fc-heading-200: var(--clr-neutral-300);
  --fc-heading-300: var(--clr-neutral-400);
  --fc-hover-1: var(--clr-primary-1);
  --fc-hover-2: var(--clr-primary-2);

  --bg-primary-1: var(--clr-neutral-400);
  --bg-primary-2: var(--clr-neutral-100);
  --bg-accent: var(--clr-primary-2);

  --bg-nav: var(--clr-neutral-400);
  --bg-btn: var(--bg-accent);

  --p-xs: 0.25rem;
  --p-sm: 0.5rem;
  --p-md: 0.75rem;
  --p-lg: 1.5rem;
  --p-btn: var(--p-md) var(--p-lg);
  --p-block-content-desktop: 5rem;
  --p-block-content-mobile: 2rem;

  --ls: 3px;
  --lh: 1.75em;

  --bp-mobile: 23.4375rem;
  --bp-desktop: 90rem;

  --min-content-padding: 0.5rem;
  --max-content-padding: 1fr;
  --min-content-width: 18rem;
  --max-content-width: calc(var(--bp-desktop) - 20rem);
}

body{
  font-family: Inter, sans-serif;
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  color: var(--fc-p-1);
  min-height: 100vh;
  overflow-x: hidden;
}

h1{
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}

h2{
  font-size: var(--fs-h2);
  font-weight: var(--fw-semibold);
}

h3{
  font-size: var(--fs-h3);
  font-weight: var(--fw-semibold);
}

p{
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  line-height: var(--lh);
}

button{
  width: 100%;
  border: 0;
  padding: var(--p-btn);
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  background-color: var(--bg-btn);
  color: var(--fc-btn);
  letter-spacing: var(--ls);
  text-transform: uppercase;
}
button:not(.open-nav-btn, .close-nav-btn):hover{
  cursor: pointer;
  background-color: var(--bg-primary-2);
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

header, main{
  display: grid;
  grid-template-columns: minmax(var(--min-content-padding), var(--max-content-padding)) [content-start] minmax(var(--min-content-width), var(--max-content-width)) [content-end] minmax(var(--min-content-padding), var(--max-content-padding));
}

header{
  padding: var(--p-block-content-mobile) 0;
  background-color: var(--bg-nav);
}

.wrapper{
  grid-area: content;
}

header > .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  --nav-width: 70vw;
  --nav-transition: right 250ms ease-in-out;
}
nav[data-active="false"]{
  /* hide */
  --nav-offset: -100%;
}
nav[data-active="true"]{
  /* show */
  --nav-offset: 0rem;
}

nav ul{
  position: absolute;
  padding-left: 2rem;
  width: var(--nav-width);
  top: -20%;
  bottom: 0;
  right: var(--nav-offset);
  background-color: var(--bg-nav);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(var(--g-lg) + 0.5rem);
  transition: var(--nav-transition);
  z-index: 999;
}

nav li{
  font-size: var(--fs-h3);
  color: var(--fc-heading-100);
}

nav li:hover{
  color: var(--fc-hover-2);
}

nav button{
  background-color: transparent;
  padding: 0;
}

.open-nav-btn, .close-nav-btn{
  cursor: pointer;
}
.close-nav-btn{
  --margin-top: 1.5rem;
  --margin-right: 1.5rem;
  position: absolute;
  width: max-content;
  z-index: 1;
  top: var(--margin-top);
  right: calc(var(--nav-offset) + var(--margin-right));
  transition: right 250ms ease-in-out;
  z-index: 999;
}

.overlay{
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 250ms ease-in-out;
}

main .wrapper,
.main-content,
.main-content .desc,
.sidebar,
.sidebar .sidebar-content,
.categories,
.categories .category,
.categories .desc{
  display: grid;
  gap: var(--g-lg);
}

main > .wrapper{
  gap: var(--g-xl);
}

/* main content */

.main-content .img{
  min-height: 300px;
  background-image: url("./assets/images/image-web-3-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-content h1{
  color: var(--fc-heading-100);
}
.main-content .button{
  width: 60%;
}

/* sidebar */

.sidebar{
  background-color: var(--bg-primary-2);
  padding: var(--p-lg);
}
.sidebar .sidebar-content{
  gap: var(--g-sm);
}
.sidebar .sidebar-content:hover h3{
  color: var(--fc-hover-1);
}
.sidebar .sidebar-content:not(:last-child){
  padding-bottom: var(--p-lg);
  border-bottom: 1px solid var(--fc-p-2);
}
.sidebar h2{
  color: var(--fc-heading-accent);
}
.sidebar h3{
  color: var(--fc-heading-300);
}
.sidebar p{
  color: var(--fc-p-2);
}

/* categories */
.category{
  grid-template-columns: max-content auto;
}
.category:hover h2{
  color: var(--fc-hover-2);
}
.category img{
  max-width: 100px;
}
.category .desc{
  gap: 0;
}
.category h2{
  color: var(--fc-heading-100);
  font-size: calc(var(--fs-p) + 0.15rem);
  font-weight: var(--fw-bold);
}
.category h3{
  color: var(--fc-heading-200);
  font-size: var(--fs-h2);
}

/* footer */

footer{
  margin-top: var(--g-xl);
}

footer > .author{
  text-align: center;
}
.author > a{
  text-decoration: underline;
}
.author > a:hover{
  color: var(--fc-heading-accent);
}

@media (min-width: 969px){
  .hide-desktop{
    display: none;
  }
  header{
    padding: var(--p-block-content-desktop) 0 var(--p-block-content-mobile) 0;
  }
  nav ul{
    position: static;
    flex-direction: row;
    transition: none;
    justify-content: flex-end;
    width: max-content;
  }
  main .wrapper{
    grid-template-areas:
      "main main sidebar"
      "categories categories categories";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 5rem;
  }
  .main-content{
    grid-area: main;
    grid-template-areas:
      "img img"
      "heading desc";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
  }
  .main-content .img{
    grid-area: img;
  }
  .main-content .heading{
    grid-area: heading;
  }
  .main-content .desc{
    grid-area: desc;
    grid-template-rows: 1fr auto; 
  }
  .main-content .button{
    width: 75%;
  }
  .sidebar{
    grid-area: sidebar;
  }
  .categories{
    grid-area: categories;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
  }
}